.header-row {
    margin-bottom: 20px;
    font-size: 24px;
}

.namer {
    margin-bottom: 30px;
}

.node {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
    padding: 10px;
    background-color: rgba(228, 225, 210, 0.29);
}

.node-read {
    box-shadow: 5px 5px 5px 1px #999;
}

.travel-read {
    background-color: rgba(228, 225, 210, 0.05);
    box-shadow: none;
}

.travel-info {
    text-align: center;
}

.node-write {
    box-shadow: 2px 2px 2px 1px #999 inset;
}

.btn-move {
    height: auto;
    width: auto;
    padding: 0;
}

.odds-map {
    position: relative;
    z-index: 1;
}

.odds-map td {
    text-align: center;
    width: 10%;
}

.odds-map::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: -1;
    background: url('map.png') no-repeat;
    background-size: 100% 100%;
}

textarea {
    resize: vertical;
    max-height: 300px;
    min-height: 50px;
}